.header-top{
    background-color: #000000;
    min-height: 220px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header-top img{
    width: 278px;
}

.header-text{
    width: 80%;
    text-align: left;
    margin: 0 auto;
}

.header-text h1{
    color: var(--dark-grey);
    font-family: 'Gotham-Bold';
    font-size: 35px;
    margin: 0;
    margin-top: 60px;
    width: 80%;
}

.header-text .line{
    background-color: var(--dark-grey);
    width: 100px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 36px;
}

.header-text p{
    color: var(--dark-grey);
    font-family: 'Gotham-Book';
    font-size: 18px;
    margin: 0;
    margin-bottom: 40px;
}

@media (min-width: 1024px){
    .header-top img{
        width: 188px;
    }

    .header-top{       
        min-height: 126px;
    }

}