<div class="captions">
        
    <div class="caption-item">
        <h3>Máscara</h3>
        <div class="caption-images">
            <span>
                <img src="assets/images/png/required-mask.png" />
                <br />
                Obrigatório
            </span>
            <span>
                <img src="assets/images/png/recommended-mask.png" />
                <br />
                Recomendado
            </span>
        </div>
    </div>


    <div class="caption-item">
        <h3>Toalha</h3>
        <div class="caption-images">
            <span>
                <img src="assets/images/png/required-towel.png" />
                <br />
                Obrigatório
            </span>
            <span>
                <img src="assets/images/png/recommended-towel.png" />
                <br />
                Recomendado
            </span>
        </div>
    </div>


    <div class="caption-item">
        <h3>Bebedouro</h3>
        <div class="caption-images">
            <span>
                <img src="assets/images/png/partial-fountain.png" />
                <br />
                Parcial
            </span>
            <span>
                <img src="assets/images/png/not_allowed-fountain.png" />
                <br />
                Proibido
            </span>
        </div>
    </div>


    <div class="caption-item">
        <h3>Vestiários</h3>
        <div class="caption-images">
            <span>
                <img src="assets/images/png/allowed-lockerroom.png" />
                <br />
                Liberado
            </span>
            <span>
                <img src="assets/images/png/partial-lockerroom.png" />
                <br />
                Parcial
            </span>
            <span>
                <img src="assets/images/png/not_allowed-fountain.png" />
                <br />
                Fechado
            </span>
        </div>
    </div>

       
</div>