.form-box{
    width: 80%;
    margin: 0 auto;
    border: #EDEDED solid 5px;
    border-radius: 12px;
    align-items: flex-start;
    margin-bottom: 40px;
}

.form-box .icon-hour {
    background-image: url('../../../assets/images/png/icon-hour.png');
    background-repeat: no-repeat;
    height: 70px;
    font-family: 'Gotham-Book';
    color: var(--light-grey);
    font-size: 25px;    
    padding-left: 90px;
    padding-top: 15px;
    margin: 40px;
}

.form-box h2{
    font-family: 'Gotham-Light';
    color: var(--light-grey);
    font-size: 40px;
    font-weight: lighter;
    margin: 40px;
    border-bottom: #EDEDED solid 2px;
    padding: 15px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.form-box .hour-options{
    margin: 40px;
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.form-box .hour-options li{
    display: flex;
    flex-direction: row;
    font-family: 'Gotham-Light';
    color: var(--light-grey);
    font-weight: bold;
    justify-content: space-between;
    font-size: 25px;
    border-bottom: #EDEDED solid 2px;
    padding: 20px 0 20px 0;
}

.form-box .hour-options li span input{
    border: 0px;
    width: 25px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}


.form-box .show-closed{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 40px;
    margin-bottom: 0;
    font-family: 'Gotham-Light';
    color: var(--dark-grey);
    font-size: 22px;
    font-weight: bold;
}

.form-box .show-closed span{
    margin-bottom: 20px;
}

.form-box .show-closed span input{
    border: 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.form-box .show-closed span b{
    font-size: 30px;
    font-family: 'Gotham-Black';
    font-weight: bold;
}



.form-box .search-bottons{
    text-align: center;       
}


.form-box .search-bottons .btn{
    width: 80%;
    font-family: 'Gotham-Black';
    font-size: 22px;
    color: var(--dark-grey); 
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 6px;
    border: #cccccc solid 1px;
    min-height: 70px;
    margin: 20px;
}

.form-box .search-bottons .find{
    background-color: var(--yellow);
    border-color: var(--yellow);
}

@media(min-width: 1024px){
    .form-box .show-closed{
        display: flex;
        flex-direction:unset;
        justify-content: space-between;        
    }

    .form-box .search-bottons .btn{
        width: 550px;
    }
}